<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link media="all" rel="stylesheet" href="../static/css/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Chappell Roan</title>
</head>
<body>
<header id="main-header" style="font-family: var(--font-menu-family)">
    <div class="header__layout">
      <a class="menu"></a> </div>
      
        
    <h1 class="logo">
        <img width="589" height="120" src="https://www.iamchappellroan.com/files/2023/05/ChappellLogo_Black.png" class="custom-logo" alt="Chappell Roan">
            <a href="https://www.iamchappellroan.com/" class="custom-logo-link" rel="home" aria-current="page"></a>
        </h1>
    </header>>
    <main>
      <div class="banner">
        <section class="promo home section-banner" data-headertype="slickslider">
              <div class="banner-background">
                <img src="https://www.iamchappellroan.com/files/2023/08/roan-desktop-v2.jpg"> 
    
              <div class="banner-content">
                <h4 class="title-line">Debut Album</h4>
				
      <h3>The Rise and Fall of a Midwest Princess</h3>
              <div class="banner-cta">
                    <a href="https://chappellroan.lnk.to/TheRiseandFallofaMidwestPrincess" title="Stream/Download" target="_blank" class="banner-cta">  
                      STREAM/DOWNLOAD</a>
                
                      </div>
</main>
				
<footer id="page-footer" class="footer color-background-1 gradient">
	

			<div class="footer__bottom">
				
<div class="menu-legal"><ul id="menu-footer" class="menu-legal__list"><li id="menu-item-110" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-110"><a target="_blank" rel="noopener" href="https://www.islandrecords.com/">© Island Records</a></li>
<li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8"><a target="_blank" rel="noopener" href="https://privacy.umusic.com/terms/">Terms</a></li>
<li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9"><a target="_blank" rel="noopener" href="https://privacy.umusic.com/">Privacy Policy</a></li>
<li id="menu-item-10" class="push-global-ccpa menu-item menu-item-type-custom menu-item-object-custom menu-item-10" style="display: none;"><a target="_blank" rel="noopener" href="https://privacy.universalmusic.com/CCPA">Do Not Sell My Personal Information</a></li>
</ul></div>
</footer>
    